[Unit]
Description=NSQ Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/nsqd --broadcast-address=127.0.0.1
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target

